[submodule "layers/tools/thirdparty/glfw/glfw"]
	path = layers/tools/thirdparty/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "layers/tools/thirdparty/imgui/imgui"]
	path = layers/tools/thirdparty/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "layers/tools/thirdparty/sokol/sokol"]
	path = layers/tools/thirdparty/sokol/sokol
	url = git@github.com:floooh/sokol.git
